/build/**
/lib/*.exp
/lib/*.lib
/src/.vs
/src/client effects/debug
/src/client effects/release
/src/game/debug
/src/game/release
/src/H2Common/debug
/src/H2Common/release
/src/launcher/*.aps
/src/launcher/debug
/src/launcher/release
/src/Player/debug
/src/Player/release
/src/ref_gl/debug
/src/ref_gl/release
/src/snd_sdl3/debug
/src/snd_sdl3/release
/src/win32/debug
/src/win32/release
/src/WinSnd/debug
/src/WinSnd/release
*.user